In [24]:
import pandas as pd
import json
import numpy as np
from huggingface_hub import login
login(token='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')

Token has not been saved to git credential helper. Pass `add_to_git_credential=True` if you want to set the git credential as well.
Token is valid (permission: write).
Your token has been saved to C:\Users\91914\.cache\huggingface\token
Login successful

In [2]:
train = json.load(open("C:/Users/91914/Desktop/Python/Kaggle/modal/data/trainn.json"))
df_train = pd.DataFrame(train)
df_train.head()

,document,full_text,tokens,trailing_whitespace,labels
0,7,Design Thinking for innovation reflexion-Avril...,"[Design, Thinking, for, innovation, reflexion,...","[True, True, True, True, False, False, True, F...","[O, O, O, O, O, O, O, O, O, B-NAME_STUDENT, I-..."
1,10,Diego Estrada\n\nDesign Thinking Assignment\n\...,"[Diego, Estrada, \n\n, Design, Thinking, Assig...","[True, False, False, True, True, False, False,...","[B-NAME_STUDENT, I-NAME_STUDENT, O, O, O, O, O..."
2,16,Reporting process\n\nby Gilberto Gamboa\n\nCha...,"[Reporting, process, \n\n, by, Gilberto, Gambo...","[True, False, False, True, True, False, False,...","[O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT, O..."
3,20,Design Thinking for Innovation\n\nSindy Samaca...,"[Design, Thinking, for, Innovation, \n\n, Sind...","[True, True, True, False, False, True, False, ...","[O, O, O, O, O, B-NAME_STUDENT, I-NAME_STUDENT..."
4,56,Assignment: Visualization Reflection Submitt...,"[Assignment, :, , Visualization, , Reflecti...","[False, False, False, False, False, False, Fal...","[O, O, O, O, O, O, O, O, O, O, O, O, B-NAME_ST..."

In [3]:
df_train_labels = pd.read_csv('C:/Users/91914/Desktop/Python/Kaggle/modal/data/train_labels.csv')
df_train_labels.head()

   document                                    PII             TOOL
0         7   {'NAME_STUDENT': ['Nathalie Sylla']}    Visualization
1        10    {'NAME_STUDENT': ['Diego Estrada']}    Visualization
2        16  {'NAME_STUDENT': ['Gilberto Gamboa']}  Learning Launch
3        20     {'NAME_STUDENT': ['Sindy Samaca']}    Visualization
4        56      {'NAME_STUDENT': ['Nadine Born']}    Visualization

In [4]:
train_final=pd.merge(df_train,df_train_labels,on='document')
train_final=train_final[['PII','TOOL','full_text','document']]
train_final=train_final[train_final['PII']!='{}']
train_final=train_final.dropna()
train_final.head()

,PII,TOOL,full_text,document
0,{'NAME_STUDENT': ['Nathalie Sylla']},Visualization,Design Thinking for innovation reflexion-Avril...,7
1,{'NAME_STUDENT': ['Diego Estrada']},Visualization,Diego Estrada\n\nDesign Thinking Assignment\n\...,10
2,{'NAME_STUDENT': ['Gilberto Gamboa']},Learning Launch,Reporting process\n\nby Gilberto Gamboa\n\nCha...,16
3,{'NAME_STUDENT': ['Sindy Samaca']},Visualization,Design Thinking for Innovation\n\nSindy Samaca...,20
4,{'NAME_STUDENT': ['Nadine Born']},Visualization,Assignment: Visualization Reflection Submitt...,56

In [5]:
num_true = int(len(train_final) * 0.2)
mask = np.array([True] * num_true + [False] * (len(train_final) - num_true))
np.random.shuffle(mask)
train_final['is_valid'] = mask
print(len(train_final[train_final['is_valid']==True]))
print(len(train_final[train_final['is_valid']==False]))
train_final.head()

169
679

,PII,TOOL,full_text,document,is_valid
0,{'NAME_STUDENT': ['Nathalie Sylla']},Visualization,Design Thinking for innovation reflexion-Avril...,7,False
1,{'NAME_STUDENT': ['Diego Estrada']},Visualization,Diego Estrada\n\nDesign Thinking Assignment\n\...,10,False
2,{'NAME_STUDENT': ['Gilberto Gamboa']},Learning Launch,Reporting process\n\nby Gilberto Gamboa\n\nCha...,16,True
3,{'NAME_STUDENT': ['Sindy Samaca']},Visualization,Design Thinking for Innovation\n\nSindy Samaca...,20,False
4,{'NAME_STUDENT': ['Nadine Born']},Visualization,Assignment: Visualization Reflection Submitt...,56,True

In [6]:
small_train=train_final.sample(n=10,random_state=42)
print(len(small_train[small_train['is_valid']==True]))
print(len(small_train[small_train['is_valid']==False]))
small_train.head()

3
7

,PII,TOOL,full_text,document,is_valid
1763,{'NAME_STUDENT': ['Alessio Valentini']},Visualization,Design Thinking for Innovation Assignment\n\nA...,11192,True
409,{'NAME_STUDENT': ['Habibu George']},Learning Launch,DESIGN THINKING ASSINGMENT\n\nDARDEN BUSINESS ...,6946,False
126,{'NAME_STUDENT': ['Antonio Bellafiore']},Visualization,Reflection – Visualization (Antonio Bellafiore...,3586,True
1862,{'NAME_STUDENT': ['Farooq Tanbir']},Mind Mapping,DESIGN THINKING FOR\n\nINNOVATION\n\nPEER-GRAD...,11392,False
49,{'URL_PERSONAL': ['https://www.hall.biz/wp-con...,Learning Launch,Reflection – Learning Launch\n\nChallenge:\n\n...,1309,False

In [7]:
small_train.to_csv('C:/Users/91914/Desktop/Python/Kaggle/modal/data/small_train.csv',index=False)
train_final.to_csv('C:/Users/91914/Desktop/Python/Kaggle/modal/data/full_train.csv',index=False)

In [25]:
import pandas as pd
from datasets import Dataset, DatasetDict
from huggingface_hub import create_repo, upload_folder

def df_to_dataset(df):
    train_data = df[df['is_valid'] == False].to_dict('records')
    val_data = df[df['is_valid'] == True].to_dict('records')

    train_dataset = Dataset.from_list(train_data)
    val_dataset = Dataset.from_list(val_data)

    data_files = {
        'train': train_dataset,
        'validation': val_dataset
    }

    dataset = DatasetDict(data_files)
    return dataset

dataset_small = df_to_dataset(small_train)
dataset_full = df_to_dataset(train_final)

In [26]:
repo_name = 'augsaksham/small_train'
create_repo(repo_name, exist_ok=True)
dataset_small.push_to_hub(repo_name)
repo_name = 'augsaksham/full_train'
create_repo(repo_name, exist_ok=True)
dataset_full.push_to_hub(repo_name)

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

README.md:   0%|          | 0.00/518 [00:00<?, ?B/s]

c:\Users\91914\Desktop\Python\Kaggle\myenv\Lib\site-packages\huggingface_hub\file_download.py:149: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\91914\.cache\huggingface\hub\datasets--augsaksham--small_train. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to see activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

Uploading the dataset shards:   0%|          | 0/1 [00:00<?, ?it/s]

Creating parquet from Arrow format:   0%|          | 0/1 [00:00<?, ?ba/s]

CommitInfo(commit_url='https://huggingface.co/datasets/augsaksham/full_train/commit/d3e0e40976c97754d245cc0ec621b0881237600f', commit_message='Upload dataset', commit_description='', oid='d3e0e40976c97754d245cc0ec621b0881237600f', pr_url=None, pr_revision=None, pr_num=None)